@media(max-width: 767px){ 
  .logo{
    margin-top: -37px;
    margin-left: -71px;
  } 

  .navbar-toggler{
    color: white;
    margin-top: -37px;
    margin-right: -71px;
    border: 1px solid white;
  }

  #navbar .navbar-container ul li:nth-child(3) {
    border-right: none;
  }
  
  .navbar .navbar-expand-lg .secondary-bg{
    position: fixed;
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
	  margin-left: -71px;
  }

  #showcase {
    height: 100vh;
  }
  
  .showcase-container {
    max-width: 300px;
    margin-top: 60px;
  }
  .navbar-items{
    flex-direction: column;
  }

  .footer-content {
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .footer-content .logo{
    margin-top: -46px;
    margin-bottom: 30px;
  }

  .socials {
    margin-top: 20px;
  }

  .socials i{
    margin: 0 36px;
  }
  
  .footer-info-items {
    display: flex;
    flex-direction: column;
  }
  
  .rights {
    display: flex;
    flex-direction: column;
  }
  
  .brazil-flag {
    width: 20px;
    margin-left: 5px;
  }

  .footer-info .rights .country p {
    margin-bottom: 5px;
  }

}  